//- LaTeX template for resume - using Pug
| % !TEX program = lualatex
| \documentclass{resume} % Use the custom resume.cls style
| 
| \usepackage[left=0.4 in,top=0.4in,right=0.4 in,bottom=0.4in]{geometry} % Document margins
| \newcommand{\tab}[1]{\hspace{.2667\textwidth}\rlap{#1}}
| \newcommand{\itab}[1]{\hspace{0em}\rlap{#1}}
| 
| %----------------------------------------------------------------------------------------
| % Contact Information
| %----------------------------------------------------------------------------------------
| 
| \name{#{name}} % Your name
| \address{#{contact.location} \\
|     \href{tel:#{contact.phone.replace(/ |\(|\)|-/g, '')}}{#{contact.phone}} \\
|     \href{mailto:#{contact.email}}{#{contact.email}} \\
|     \href{https://#{contact.website}}{#{contact.website}}  \\
|     \href{https://#{contact.github}}{#{contact.github}} \\
|     \href{https://#{contact.linkedin}}{#{contact.linkedin}}
| }
| 
| \begin{document}
| 
| %----------------------------------------------------------------------------------------
| % Professional Summary
| %----------------------------------------------------------------------------------------
| 
| % \begin{rSection}{Professional Summary}
| #{summary}
| % \end{rSection}
| 
| %----------------------------------------------------------------------------------------
| % Work Experience
| %----------------------------------------------------------------------------------------
| 
| \begin{rSection}{Work Experience}
each job in experience
  | 
  |     \begin{rWorkHistoryItem}{#{job.position}}{#{job.company}}{#{job.duration}}
  each accomplishment in job.accomplishments
    |         \item #{accomplishment}
  |     \end{rWorkHistoryItem}
| 
| \end{rSection}
| 
| %----------------------------------------------------------------------------------------
| % Skills
| %----------------------------------------------------------------------------------------
| \begin{rSection}{Skills}
| 
|     \begin{tabular}{ @{} >{\bfseries}l @{\hspace{6ex}} l }
each skill_group, index in skills
  - const padding = skill_group.category.length < 23 ? ' '.repeat(23 - skill_group.category.length) : ''
  |         #{skill_group.category}#{padding} & #{skill_group.items}#{index < skills.length - 1 ? ' \\\\' : ''}
|     \end{tabular}\\
| 
| \end{rSection}
| 
| %----------------------------------------------------------------------------------------
| % Education Section (Shift below Projects if your projects are substantial)
| %----------------------------------------------------------------------------------------
| 
| \begin{rSection}{Education}
each edu in education
  |     \textbf{#{edu.degree}}, #{edu.institution} \hfill {#{edu.duration}}
| \end{rSection}
| 
| %----------------------------------------------------------------------------------------
| % Projects
| %----------------------------------------------------------------------------------------
| 
| % \begin{rSection}{Projects}
| 
| %     \textbf{Role}, {Project Name} (\href{https://myproject.com}{myproject.com}) \hfill {MMM YYYY --- MMM YYYY}
| %     \begin{itemize}
| %         \item \href{https://www.faangtechleads.com/resume/general-guidelines}{Action verb} + what you did + reason, outcome or quantified results. Talk about technologies used
| %         \item \href{https://www.faangtechleads.com/resume/general-guidelines}{Action verb} + what you did + reason, outcome or quantified results. Talk about technologies used
| %     \end{itemize}
| 
| %     \textbf{Role}, {Project Name} (\href{https://github.com/my-project}{github.com/my-project}) \hfill {MMM YYYY --- MMM YYYY}
| %     \begin{itemize}
| %         \item \href{https://www.faangtechleads.com/resume/general-guidelines}{Action verb} + what you did + reason, outcome or quantified results. Talk about technologies used
| %         \item \href{https://www.faangtechleads.com/resume/general-guidelines}{Action verb} + what you did + reason, outcome or quantified results. Talk about technologies used
| %     \end{itemize}
| 
| % \end{rSection}
| 
| %----------------------------------------------------------------------------------------
| % Awards
| %----------------------------------------------------------------------------------------
| 
| % \begin{rSection}{Awards}
| 
| %     \begin{itemize}
| %         \item \textbf{ABC Hackathon} --- 1st place \hfill {MMM YYYY --- MMM YYYY}
| %         \item \textbf{XYZ Competition} --- 2nd place \hfill {MMM YYYY --- MMM YYYY}
| %     \end{itemize}
| 
| % \end{rSection}
| 
| \end{document}